*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #FAFAFA;
	color: #333955;
	font-weight: 300;
	font-size: 1em;
	font-family: 'Open Sans', Arial, sans-serif;
}

a {
	color: #1D2442;
	text-decoration: none;
	outline: none;
}

section {
	padding: 6em 2em;
}

section p {
	font-size: 3em;
	line-height: 1.518;
	max-width: 1200px;
	margin: 0 auto;
}

#go-back {
	background-color: #FFF;
	height: 30px;
	border-bottom: 1px solid #F7F7F7;
}

#go-back p {
	margin: 0;
	padding-top: 3px;
	padding-right: 10px;
	text-align: right;
}

#go-back a:hover {
	color: #762EB1;
	text-decoration: underline;
}

.header {
	padding: 5em 2em;
}

.header h1 {
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 700;
	font-size: 4.5em;
	line-height: 1;
}

.header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.4em;
	color: #C7C2C1;
}

@media screen and (max-width: 50em) {
	section {
		font-size: 50%;
		padding: 6em 6.6em;
	}
}
